<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Your Password - YHROCU Task Management System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Reset Your Passworrd in the Task Management System</h1>
    </header>
    <main>
      <form
        action="{{ url_for('passwordReset') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }}
        <div class="login-container">
          <h2>RESET PASSWORD</h2>
          <div class="input-group">
            <input type="text" name="username" placeholder="Username" />
          </div>
          <div class="input-group">
            <input type="password" name="password" placeholder="New Password" />
          </div>
          <div class="input-group">
            <input
              type="password"
              name="confirm_password"
              placeholder="Confirm New Password"
            />
          </div>
          <input class="login-btn" type="submit" value="RESET PASSWORD" />
        </div>
      </form>
    </main>
    <footer>
      <p>&copy; 2025 Enterprise Pro Task Management System</p>
    </footer>
  </body>
</html>
