<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YHROCU</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <h1>YHROCU Task Management System</h1>
            <div class="menuBar">
                <ul class="nav">
                  <li class="nav" id="currentPage">
                    <a class="nav" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav"><a class="nav" id="login-logout-btn" href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </div>
        </header>

        <form action="{{ url_for('search_projects') }}" method="get">
            <label for="search">Search:</label>
            <input type="text" id="search" name="query" placeholder="Search for a project...">
            <button type="submit">Search</button>
        </form>

        <h4>Filter by:</h4>
        <div class="filter-container">
            <label for="">Choose Completion Status:</label>
            <select id="dropdown1" class="dropdown-content">
                <option value="all">All</option>
                <option value="in-progress">In Progress</option>
                <option value="complete">Complete</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="filter-container">
            <label for="" style="margin-right: 28px;">Choose Review Status:</label>
            <select id="dropdown2" class="dropdown-content">
                <option value="all">All</option>
                <option value="one-day">1 Day</option>
                <option value="three-days">3 Days</option>
                <option value="one-week">1 Week</option>
                <option value="two-weeks">2 Weeks</option>
                <option value="one-month">1 Month</option>
            </select>
        </div>

        <div class="filter-container">
            <label for="" style="margin-right: 92px;">Choose Team:</label>
            <select id="dropdown3" class="dropdown-content">
                <option value="all">All</option>
                <option value="police">Police</option>
                <option value="intern">Intern</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="filter-container">
            <label for="" style="margin-right: 141px;">Sort by:</label>
            <select id="dropdown4" class="dropdown-content">
                <option value="none">None</option>
                <option value="status">Progress Status</option>
                <option value="review">Project Review</option>
                <option value="team">Assigned Team</option>
            </select>
        </div>

    <div class="supervisor-boxes">

        <section id="supervisor-projects">
            <h1 class="project-heading">List of projects</h1>
            {% if projects|length == 0 %}
            <p>No projects found</p>
            {% endif %}
            <!-- Add the projects dynamically here using jinja -->
            {% for project in projects %}
                {% if loop.index0 % 2 == 0 %} <!-- Start a new supervisor-projects div on odd indices (0-based) -->
                <div class="project-row">
                    <div class="project-column">
                        <div class="project1">
                            <input type="hidden" id="project-id" value="{{ project[0] }}">
                            <div class="icons">
                                <a href="">
                                  <img
                                    src="https://i.ibb.co/35vt9Zwk/person-outline-icon-1.png"
                                    alt="person-outline-icon-1"
                                    class="assignment-button"
                                    style="display: block;"
                                  />
                                </a>
                            </div>
                            <h3 class="project-heading">{{ project[1] }}</h3>
                            <p>{{ project[2] }}</p>
                            <h2 class="project-heading">Project Status: {{ project[3] }}</h2>
                            <h2 class="project-heading">Tasks</h2>
                            <ul class="tasks">
                                {% if project[6]|length == 0 %}
                                    <li>No tasks found</li>
                                {% endif %}
                                {% for task in project[6] %}
                                    <li>{{ task }}</li>
                                {% endfor %}
                            </ul>
                            <h3 class="project-heading">Review due in {{ project[4] }}</h3>
                            <h3 class="project-heading">Project owner: {{ project[5] }}</h3>
                            <a href="{{ url_for('setProjectId', project_id=project[0]) }}"><button>View Project</button></a>
                        </div>
                    </div>
                    <div id="assignment-modal" style="display: none;">
                        <div id="assignment-modal-content">
                            <h3>Manage Users for Project</h3>
                            <form
                                action="{{ url_for('add_user_to_project') }}"
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.project_title.label }}<br />
                                    {{ form.project_title() }}
                                </div>
                                <div class="form-group">
                                    {{ form.username.label }}<br />
                                    {{ form.username() }}
                                </div>
                                <div class="form-group">
                                    {{ form.submit() }}
                                </div>
                            </form>
                        </div>
                        <button onclick="document.getElementById('assignment-modal').style.display='none'">Close</button>
                    </div>
                    {% if not loop.last and loop.index0 % 2 == 0 %}
                        <div class="project-column">
                            {% set next_project = projects[loop.index] %}
                            <div class="project1">
                                <input type="hidden" id="project-id" value="{{ next_project[0] }}">
                                <h3 class="project-heading">{{ next_project[1] }}</h3>
                                <p>{{ next_project[2] }}</p>
                                <h2 class="project-heading">Project Status: {{ next_project[3] }}</h2>
                                <h2 class="project-heading">Tasks</h2>
                                <ul class="tasks">
                                    {% if next_project[6]|length == 0 %}
                                        <li>No tasks found</li>
                                    {% endif %}
                                    {% for task in next_project[6] %}
                                        <li>{{ task }}</li>
                                    {% endfor %}
                                </ul>
                                <h3 class="project-heading">Review due in {{ next_project[4] }}</h3>
                                <h3 class="project-heading">Project owner: {{ next_project[5] }}</h3>
                                <a href="{{ url_for('setProjectId', project_id=next_project[0]) }}"><button>View Project</button></a>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
        
            {% endfor %}
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const assignmentButtons = document.querySelectorAll('.assignment-button');
        
                assignmentButtons.forEach(button => {
                    button.addEventListener('click', function (event) {
                        event.preventDefault();
                        const projectId = button.closest('.project1').querySelector('#project-id').value;
                        const projectTitle = button.closest('.project1').querySelector('.project-heading').textContent;
        
                        // Open the modal
                        const modal = document.getElementById('assignment-modal');
                        modal.style.display = 'block';
        
                        // Populate the project title in the form
                        const projectTitleField = document.querySelector('select[name="project_title"]');
                        for (let option of projectTitleField.options) {
                            if (option.text === projectTitle) {
                                option.selected = true;
                                break;
                            }
                        }
                    });
                });
            });
        </script>
        <footer>
            <p>&copy; 2025 Enterprise Pro Task Management System</p>
        </footer>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var loginLogoutBtn = document.getElementById('login-logout-btn');
                fetch("{{ url_for('get_user_status') }}")
                    .then(response => response.json())
                    .then(data => {
                    var isLoggedIn = data[0];
                    if (isLoggedIn) {
                        loginLogoutBtn.textContent = 'Log out';
                        loginLogoutBtn.href = "{{ url_for('logout') }}";
                    } else {
                        loginLogoutBtn.textContent = 'Login';
                        loginLogoutBtn.href = "{{ url_for('login') }}";
                    }
                });
            });
        </script>
    </body>
</html>