<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YHROCU</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <style>
            body{
                background-color: lightblue;
            }
            .info-placeholder {
                   width: 200px;
                   height: 100px;
                   background-color: white;
                   border: 2px solid blue;
                   padding: 20px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>YHROCU Task Management System</h1>
        </header>

        <form action="/search" method="get">
            <label for="search">Search:</label>
            <input type="text" id="search" name="query" placeholder="Search for a project...">
            <button type="submit">Search</button>
        </form>

        <h4>Filters:</h4>
        <div class="search-container">
            <input type="text" id="search-box" placeholder="Completion Status:">
            <select id="dropdown" class="dropdown-content">
                <option value="Not yet started">Not yet started</option>
                <option value="In Progress">In Progress</option>
                <option value="Complete">Complete</option>
            </select>
        </div>

        <div class="search-container">
            <input type="text" id="search-box" placeholder="Review Status:">
            <select id="dropdown" class="dropdown-content">
                <option value="Review Incomplete">Review Incomplete</option>
              <option value="Review Complete">Review Complete</option>
            </select>
        </div>

        <div class="search-container">
            <input type="text" id="search-box" placeholder="Team:">
            <select id="dropdown" class="dropdown-content">
                <option value="Team 1">Team 1</option>
                <option value="Team 2">Team 2</option>
                <option value="Team 3">Team 3</option>
            </select>
        </div>

        <div class="info-placeholder1">This is a placeholder for the list of projects</div>
        
        <div class="info-placeholder2">This is a placeholder for the details of the selected project</div>
        
        
        <footer>
            <p>&copy; 2025 Enterprise Pro Task Management System</p>
        </footer>
    </body>
</html>