body {
    background-color: lightblue;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}
section#projects {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}

div.project {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul.tasks {
    list-style-type: none;
    padding: 0;
}

ul.tasks li {
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
main {
    padding: 20px;
    background-color: lightblue;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.login-container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
}
.login-container h2 {
    color: #007bff;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.login-btn {
    width: 100%;
    background: #004080;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.login-btn:hover {
    background: #003366;
}

.search-container {
    background-color: white;
    color: lightgray;
    display: flex;
    justify-content: center; /*Center horizontally*/
    align-items: center; /*center vertically*/
    height: 100vh; /*full viewport height*/
}

.info-placeholder {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
}
   
